@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: auto;   
}

body{
    background-image:url("img/background.jpg");
}
ul{
    list-style: none;
}

.text-bold{
    font-weight: 500;
}

.text-light{
    font-weight: 300;
}

.text-Regular{
    font-weight: 400;
}
.text-Center{
    text-align: center;
}

.text-Right{
    text-align: right;
}

.text-Left{
    text-align: left;
}

/* .list_v{
    list-style-type: circle;
}
 */



/* .Caja-Centro { 
    float: left;
    width: auto;
    height: auto;
    margin: 50px;  
    padding: 50px;  
    border: black;
    position:relative;
} */

.clase{
    background-color: white;
    text-align: center;
} 
 
.seccion{
    display: inline-block;  
} 

.foto {
    text-align: center;
}

.footer_dis{
    background-color: white;
    position:absolute;
    width: 100vw;
    bottom: 0;
}

.grid{
    width: 99%;

}

/*templates por filas y columnas*/
.grid-template-columns-row{
    grid-template-columns: 100px 400px;
    grid-template-rows: 200px 200px 100px;


    
}

.template-areas{

}

#botonera{

}
#centro{
    
}

/*.contenedor-final{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}

.divuno{
    background-color: grey;
    width: 25vw;
}

.divdos{
    background-color: lightgreen;
    width: 75vw;
}*/