@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: auto;   
}

body{
    background-image:url("img/background.jpg");
}

.text-bold{
    font-weight: 500;
}

.text-light{
    font-weight: 300;
}

.text-Regular{
    font-weight: 400;
}
.text-Center{
    text-align: center;
}

.text-Right{
    text-align: right;
}

.text-Left{
    text-align: left;
}

/* .list_v{
    list-style-type: circle;
}
 */



.Caja-Centro { 
    float: left;
    width: auto;
    height: auto;
    margin: 50px;  
    padding: 50px;  
    border: black;
    position:relative;
}

.clase{
    background-color: white;
    text-align: center;
} 
 
.seccion{
    display: inline-block;  
} 

.foto {
    text-align: center;
}

.footer_dis{
    background-color: white;
    position:absolute;
    width: 100vw;
    bottom: 0;
}